#page
    include header
    
    #menulinks
        a(href='/')
            span Home
        .menulines
        
        a(href='#') 
            span Services
        .menulines

        a(href='#') 
            span Pricing
        .menulines

        a(href='#') 
            span Contact Us
        .menulines

    #mainarea
        #contentarea
            h2 Welcome!
            .content
                |CELESTIAL is a CSS template that is free and fully standards compliant.

    include footer
