#page
    include header
    
    #menulinks
        - for (var menuTab in menuTabs)
            a(href='/')
                span #{menuTabs[menuTab]}
            .menulines

    #mainarea
        #contentarea
            h2 Welcome!
            .content
                |CELESTIAL is a CSS template that is free and fully standards compliant.
                

    include footer
